<a href="/" class="active">Speakeasy</a>
<div id="myLinks">
  <a href="/guestList">Guest List</a>
  <a href="/event">Event Copy</a>
  <a href="/menuRender">Menu Builder</a>
  <a href="/publicView">Public View</a>
</div>
<a href="javascript:void(0);" class="icon" onclick="navBar()">
  <i class="fa fa-bars"></i>
</a>
