<a href="#home" class="active">Welcome to Speakeasy!</a>
<div id="myLinks">
  <a href="#guestlist">Guest List</a>
  <a href="#eventcopy">Event Copy</a>
  <a href="#menubuilder">Menu Builder</a>
  <a href="#ingredients">Ingredients</a>
  <a href="#publicview">Public View</a>
</div>
<a href="javascript:void(0);" class="icon" onclick="navBar()">
  <i class="fa fa-bars"></i>
</a>
