body {
    font-family: 'Rye';
    font-size: large;
    background-image: url("/images/woodpanel.jpg");
    background-size: cover;
  }

  .drinkImage {
    width: 60px;
    height: 70px;
  }
#errorMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#errorMain > p {
  display: flex;
  color: white;
  font-size: 30pt;
  font-weight: bold;
}
  #weeWooImage {
    display: flex;
    justify-content: center;
  }
