.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }

.topnav {
    overflow: hidden;
    background-color: rgba(223, 216, 195, 0.3);
    position: relative;
  }

footer {
    position: fixed;
    height: 4em;
    display: block;
    float: center;
  }

  #form {
    width: 40%;
    height: 6em;
    margin: 35px auto;
    background-color: rgba(223, 216, 195, 0.3);
    border-radius: 12px;
    border: ridge 10px  #cda24c;
    display: flex;
    justify-content: center;
  }

  #newuser {
    padding-top: 0.5em;
    text-align: center;
    width: 50%;
    font-weight: bold;
  }

  #eventnamesubmit {
    margin: 5px;
    width: 40%;
    text-align: center;
    background-color: #cda24c;
    border: none;
    border-radius: 25px;
    font-family: 'Rye';
    font-size: medium;
    font-weight: bold;
  }

#eventInput>h1 {
  width: 25%;
  height: 2em;
  padding-top: 0.7em;
  margin: 5% auto;
  text-align: center;
  border-radius: 12px;
  border: 10px ridge #cda24c;
  background-color:  rgba(223, 216, 195, 0.3);
}

#eventform{
  width: 50%;
  text-align: center;
  padding-top: 1.5em;
  margin: 5% auto;
  height: 21em;
  border-radius: 12px;
  border: 10px ridge #cda24c;
  background-color:  rgba(223, 216, 195, 0.3);
}

label, input {
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
}

#eventSubmitButton {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
  background-color: #cda24c;
  border: none;
  border-radius: 25px;
  justify-content: center;
  font-family: 'Rye';
  font-size: medium;
  font-weight: bold;
}

#guestform {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 40%;
  height: 5em;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  border: ridge 10px  #cda24c;
  margin-top: 35px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  text-align: center;
  font-weight: bold;
}

#nameListSubmit {
  margin: 5px;
  width: 81%;
  text-align: center;
  background-color: #cda24c;
  border: none;
  border-radius: 25px;
  justify-content: center;
  font-family: 'Rye';
  font-size: medium;
  font-weight: bold;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

#guestDisplay {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 38%;
  height: 25em;
  margin-top: 30px;
  border-radius: 12px;
  border: ridge 10px  #cda24c;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: scroll;
}

p {
  margin-bottom: 5px;
}

#deleteGuest {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
  background-color: #cda24c;
  border: none;
  border-radius: 25px;
  justify-content: center;
  font-family: 'Rye';
  font-size: small;
  margin-bottom: 5px;
}

#saveform {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  text-align: center;
  justify-content: center;
}

#save {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  text-align: center;
  background-color: #cda24c;
  border: none;
  border-radius: 25px;
  justify-content: center;
  font-family: 'Rye';
  font-size: medium;
  font-weight: bold;
}

#searchForDrink {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 40%;
  height: 7em;
  margin-top: 30px;
  border-radius: 12px;
  border: ridge 10px  #cda24c;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-align: center;
}

#drinkForm {
  text-align: center;
  margin: auto;
}

#drinkSearchButton {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  text-align: center;
  background-color: #cda24c;
  border: none;
  border-radius: 25px;
  justify-content: center;
  font-family: 'Rye';
  font-size: medium;
  font-weight: bold;
}

#drinkButton {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  text-align: center;
  background-color: #cda24c;
  border: none;
  border-radius: 25px;
  justify-content: center;
  font-family: 'Rye';
  font-size: medium;
  font-weight: bold;
}

#savedMenu {
 background-color:  rgba(223, 216, 195, 0.3);
  width: 60%;
  height: 12em;
  border-radius: 12px;
  border: ridge 10px  #cda24c;
  text-align: center;
  overflow: scroll;
}

#menuSection {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 70%;
  height: 25em;
  border-radius: 12px;
  border: ridge 10px  #cda24c;
  text-align: center;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.menuItems {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  border: 3px solid #cda24c;
  
}
.menuItems > img {
  display: flex;

}
.menuItems > h2 {
  font-size: 20pt;
}

#savedMenu {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 70%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  height: 15em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 12px;
}

#removeDrinkButton {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  background-color: #cda24c;
  border: none;
  border-radius: 25px;
  justify-content: center;
  font-family: 'Rye';
  font-size: medium;
  font-weight: bold;
}

.DBItems > h2 {
  font-size: 20pt;
}

.DBItems {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 300px;
  border: 3px ridge #cda24c;
  
}

#saveDrinkMenuButton {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  text-align: center;
  background-color: #cda24c;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  font-family: 'Rye';
  font-size: medium;
  font-weight: bold;
}

#saveMenuButton {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  text-align: center;
  background-color: #cda24c;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  font-family: 'Rye';
  font-size: medium;
  font-weight: bold;
}

#publicEventName {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 60%;
  text-align: center;
  margin: 5% auto;
  height: 10em;
  border-radius: 12px;
  border: ridge 10px  #cda24c;
  padding-top: 0.5em;
  overflow: scroll;
}

#publicGuestDisplay {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 60%;
  text-align: center;
  margin: 5% auto;
  height: 10em;
  border-radius: 12px;
  border: ridge 10px  #cda24c;
  padding-top: 0.5em;
  overflow: scroll;
}

#publicMenuDisplay {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 60%;
  text-align: center;
  margin: 5% auto;
  height: 10em;
  border-radius: 12px;
  border: ridge 10px  #cda24c;
  padding-top: 0.5em;
  overflow: scroll;
}

