.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }

.topnav {
    overflow: hidden;
    background-color: rgba(223, 216, 195, 0.3);
    position: relative;
  }

footer {
    position: fixed;
    height: 4em;
    display: block;
    float: center;
  }

#guestDisplay {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 75%;
  height: 20em;
  display: flex;
  justify-content: center;
}

#menuSection {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 75%;
  height: 20em;
  display: flex;
  justify-content: center;
  margin: 5% auto;
}

#savedMenu {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 75%;
  text-align: center;
  margin: 10% auto;
  height: 10em;
  border-radius: 12px;
}

#publicEventName {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 75%;
  text-align: center;
  margin: 5% auto;
  height: 10em;
  border-radius: 25px;
}

#publicGuestDisplay {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 75%;
  text-align: center;
  margin: 5% auto;
  height: 10em;
  border-radius: 25px;
}

#publicMenuDisplay {
  background-color:  rgba(223, 216, 195, 0.3);
  width: 75%;
  text-align: center;
  margin: 5% auto;
  height: 10em;
  border-radius: 25px;
}

#eventInput>h1 {
  width: 25%;
  height: 2em;
  padding: 5px;
  margin: 5% auto;
  text-align: center;
  border: 2px solid black;
  background-color:  rgba(223, 216, 195, 0.3);

}

#eventform{
  width: 75%;
  text-align: center;
  margin: 5% auto;
  height: 20em;
  border-radius: 25px;
  border: 15px ridge orangered;
  background-color:  rgba(223, 216, 195, 0.3);

}
