<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speakeasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/header.ejs') %> 
    
  </head>
  <body>
    <!-- <div class="mobile-container"> -->
      <header>
        <div class="topnav">
          <%- include('../partials/navBar.ejs') %>
        </div>
       
      </header>
      <main>
          <h1>Enter your event details </h1>
      </main>

      <div id="eventform">

        <form>
         <label for="eventName">Enter event name below</label><br>
         <input type="text" id="eventName" name="eventName"  value="Enter event name here"><br>
         <label for="eventDetails">Enter event details below</label><br>
         <input type="text" id="eventDetails" name="eventDetails" value="Enter event details here"><br>
         <input type="submit" value="Submit">
        </form>
      </div>
      <div>
      </div>
      
      <footer>
          <!-- replace this with a partial? -->
      
      </footer>
    <!-- </div> -->
    <script src="/js/index.js"></script>
  </body>
</html>
