<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speakeasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/header.ejs') %> 
    
  </head>
  <body>
    <!-- <div class="mobile-container"> -->
      <header>
        <div class="topnav">
          <%- include('../partials/navBar.ejs') %>
        </div>
     
      </header>


      <div id="guestform">
        <form>
         <label for="guestname">Name of guest:</label><br>
         <input type="text" id="guestname" name="guestname"  value="Enter name here"><br>
         <input type="submit" value="Submit">
         <!-- this submit button should add guest to database and display to guestDisplay div -->
        </form>
      </div>
      <div id="guestDisplay">
        <form>
          <fieldset>
            <legend>Guest List</legend>
          </fieldset>
        </form>

      </div>
      <form action="/menuRender" method="post" class="guestSubmit">

        <button id="save">Save Guests</button>
      </form>
      <footer>
          <!-- replace this with a partial? -->
      </footer>
    <!-- </div> -->
    <script src="/js/index.js"></script>
  </body>
</html>
