<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speakeasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/header.ejs') %> 
    
  </head>
  <body>
    <!-- <div class="mobile-container"> -->
      <header>
        <div class="topnav">
          <%- include('../partials/navBar.ejs') %>
        </div>
        
      </header>
      <main>
          <h2>  </h2>
        <div>
          <h2>Look for a drink!!</h2>
          <form action="/drinksRender" method="GET" >
          <input type="text" name="search" placeholder="Enter A Drink">
          <button type="submit">Take A Look</button>
          </form>
        </div>
        <section>
          <div class="menuItems">
            <h2> Drink Name   
            </h2>
            <p> Instructions</p>
            <img src="" alt="">
            <h3>Ingredients</h3>
            <ul>
              <li>Ingredient 1</li>
              <li>Ingredient 2</li>
              <li>Ingredient 3</li>
              <li>Ingredient 4</li>
              <li>Ingredient 5</li>
            </ul>
            <form action="/drinksDatabase" method="POST">
            <button >Save To Menu</button>
            </form>
          </div>
        </section>
        <section>
          <h2> Saved Menu </h2>
          <div class="DBMenuItem">
            <h3> Drink Name </h3>
            <img src="" alt="" class="">
          </div>
        </section>
        <form action="/publicView" method="GET">
        <button>Save</button>
        </form>
      </main>      
      <footer>
          <!-- replace this with a partial? -->
        <button id="save" type="button">Save Guests</button>
      </footer>
    <!-- </div> -->
    <script src="/js/index.js"></script>
  </body>
</html>
