<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speakeasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/header.ejs') %> 
    
  </head>
  <body>
    <!-- <div class="mobile-container"> -->
      <header>
        <div class="topnav">
          <%- include('../partials/navBar.ejs') %>
        </div>
          
    
      </header>
      <main>
          <h2>  </h2>
      </main>

      <div id="publicEventName">
        <p>event name placeholder</p>
      </div>

      <div id="publicEventDetails">
        <p>event details placeholder</p>

      </div>

      <div id="publicGuestDisplay">
        <p>guest list placeholder</p>

      </div>

      <div id="publicMenuDisplay">
        <p>menu list placeholder</p>

      </div>


      
      <footer>
          <!-- replace this with a partial? -->
       
      </footer>
    <!-- </div> -->
    <script src="/js/index.js"></script>
  </body>
</html>
