<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Speakeasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/header.ejs') %>    
  </head>
  <body>
    <!-- <div class="mobile-container"> -->
      <header>
        <div class="topnav">
          <%- include('partials/navBar.ejs') %>
        </div>
      </header>
      <main id="errorMain">
        <img id="weeWooImage" src="/images/weeWoo.jfif" alt=""></br>
        <p>The cops are this direction head back to the Speakeasy!!!</p>
      </main>
        <!-- </div>   for mobile container -->
      <footer>
        <!-- Footer here, or remove? -->
      </footer>
    <script src="js/index.js"></script>
  </body>
</html>
