<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Speakeasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <%- include(partials/header.ejs) %>    
  </head>
  <body>
    <!-- <div class="mobile-container"> -->
      <header>
        <div class="topnav">
          <%- include(partials/navBar.ejs) %>
        </div>
      </header>


      <div id="form">
        <form>
         <label for="username">Name of user:</label><br>
         <input type="text" id="username" name="username"  value="Enter name here"></form>
         <input type="submit" value="Submit">
        </form>
      </div>
      
      <footer>
        <button id="new" type="button" >New Event</button></br>
        <button id="saved" type="button">Saved Event</button>
      </footer>
    <!-- </div> -->
    <script src="/js/index.js"></script>
      
  </body>
</html>