<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Speakeasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/header.ejs') %>    
  </head>
  <body>
    <!-- <div class="mobile-container"> -->
      <header>
        <div class="topnav">
          <%- include('partials/navBar.ejs') %>
        </div>
      </header>


      <div id="form">
        <form action="/event" method="post" class="newUserButton">
         <label for="username">Name of user:</label><br>
         <input type="text" id="username" name="username" placeholder="Enter name here"><br>
         <input type="submit" value="Submit">
        </form>
      </div>
      
      <footer>

      </footer>
    <!-- </div> -->
    <script src="js/index.js"></script>
      
  </body>
</html>